<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>David Whipp</title>
  <meta name="description" content="Namyeon Lee">

  <!-- CSS files -->
  <link rel="stylesheet" href="https://davewhipp.github.io/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://davewhipp.github.io/css/main.css">

  <link rel="canonical" href="https://davewhipp.github.io/">
  <link rel="alternate" type="application/rss+xml" title="Namyeon Lee" href="https://davewhipp.github.io/feed.xml" />

  <!-- Icons -->
  <!-- 16x16 -->
  <link rel="shortcut icon" href="https://davewhipp.github.io/favicon.ico">
  <!-- 32x32 -->
  <link rel="shortcut icon" href="https://davewhipp.github.io/favicon.png">
</head>


<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        

<div class="cover-card table-cell table-middle">
  
  <img src="http://namyeon.github.io/assets/logo.png" alt="" class="avatar">
  
  <a href="https://namyeon.github.io/" class="author_name">Namyeon Lee</a>
  <span class="author_job">Science, Health & Visual Communication </span>
  <span class="author_bio mbm">Ph.D. Candidate at the Missouri School of Journalism</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="https://namyeon.github.io/">home</a>
        <span>/</span>
      </li>
       
      <li class="nav-item">
        <a href="https://namyeon.github.io/">Archive</a>
        
          <span>/</span>
        
      </li>
        
      <li class="nav-item">
        <a href="https://namyeon.github.io/Lee_CV_062519.pdf">CV</a>
        
          <span>/</span>
        
      </li>
          
      <li class="nav-item">
        <a href="https://namyeon.github.io/">Categories</a>
        
          <span>/</span>
        
      </li>
            
      <li class="nav-item">
        <a href="https://namyeon.github.io/">Who?</a>
        
          <span>/</span>
        
      </li>
           
    </ul>
  </nav>
  <script type="text/javascript">
  // based on http://stackoverflow.com/a/10300743/280842
  function gen_mail_to_link(hs, subject) {
    var lhs,rhs;
    var p = hs.split('@');
    lhs = p[0];
    rhs = p[1];
    document.write("<a class=\"social-link-item\" target=\"_blank\" href=\"mailto");
    document.write(":" + lhs + "@");
    document.write(rhs + "?subject=" + subject + "\"><i class=\"fa fa-fw fa-envelope\"></i><\/a>");
  }
</script>
<div class="social-links">
  <ul>
    
      <li>
      <script>gen_mail_to_link('namyeonlee@mizzou.edu', 'Hello from website');</script>
      </li>
        
    <li><a href="http://facebook.com/namyeon.lee" class="social-link-item" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>

    
    <li><a href="instagram.com/namyeon.lee" class="social-link-item" target="_blank"><i class="fa fa-fw fa-instagram"></i></a></li>

    <li><a href="https://www.linkedin.com/in/namyeon-lee-7bb20060/" class="social-link-item" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>

    
    <li><a href="http://github.com/namyeonlee" class="social-link-item" target="_blank"><i class="fa fa-fw fa-github"></i></a></li>
    
    
    
    
    
    
    
       
    
    
    
    
  </ul>
</div>
        
        
        
      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
